body{
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}
h1,h2 {
    
    text-align: center;
    color:bisque;
    margin-bottom: 0px;
    margin-top: 10px;
    padding-bottom: 2px;
    font-size: 48px;
    font-family: cursive;
    font-weight: bold;
    
  }
  .div2{
    background-color:#330000;
    margin-left: 25%;
    margin-right: 16%;
    opacity: 0.8;
    border-radius: 15px;
}
h4{
    color:bisque;
    font-family: cursive;
}
label{
    color:bisque;
}