body{
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}
h1,h2 {
    
    text-align: center;
    color:bisque;
    margin-bottom: 0px;
    margin-top: 10px;
    padding-bottom: 2px;
    font-size: 48px;
    font-family: cursive;
    font-weight: bold;
    
  }
  .div2{
    background-color:#330000;
    margin-left: 25%;
    margin-right: 16%;
    opacity: 0.8;
    border-radius: 15px;
}
h4{
    color:bisque;
    font-family: cursive;
}
label{
    color:bisque;
}
#choose{
    color:bisque;
    text-shadow: 2px 2px 5px #4d0000;
    margin-bottom: 10px;

}
.form1{
    margin-bottom: 15px;
    padding-bottom: 20px;
}
.form-group{
    color:bisque;
    font-weight: 500;
    font-size: 20px;
    font-family: cursive;
}
input[type="radio"]{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    columns: #4d0000;
}
.copyright,a,i{
    color:bisque;
}